.dropdown-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  min-width: 100px;
  height: 24px;

  cursor: default;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.dropdown-head span {
  color: #e8e8e9;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.dropdown-head .arrow {
  height: 24px;
}

.dropdown-head .arrow-down {
  transform: rotate(180deg);
}
/*
.dropdown-head:hover .arrow-down {
  transform: rotate(0deg);
} */

.dropdown-head:hover + .dropdown-body {
  display: block;
}

.dropdown-body {
  display: none;
  position: absolute;

  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  margin-top: 24px;
  gap: 16px;

  width: 208px;
  min-height: 36px;

  /* base */

  background: #191b27;
  /* shadow down */

  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.24);
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

  z-index: 1500;
}

.dropdown-body:hover {
  display: block;
}

.dropdown-body:hover ~ .dropdown-head .arrow-down {
  transform: rotate(0deg);
}

.dropdown-body a.text {
  color: #e8e8e9;
}

.dropdown-body button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  text-align: left;
  padding: 14px 0 0px 0;
  cursor: pointer;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.dropdown-body button:first-child {
  padding-top: 0;
}

.dropdown-body a:last-child {
  padding-bottom: 14px;
}
.message.error {
  color: #ff4f4f;
  padding: 12px 0 12px 1rem;
  margin: 0.5rem 0 0 4px;
  border-left: 2px solid #ff4f4f;
  font-size: 82.5%;
  line-height: 82.5%;
}
