.layout {
  min-height: 100vh;
  /* screen 1280 - content 960 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 160px 32px;
  gap: 32px;
  isolation: isolate;

  /* background */

  background: #10121f;
}

.content {
  position: relative;
  width: 960px;
  margin: 48px auto;
}

strong {
  font-weight: bold;
}

h1 {
  /* h1 */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 120% */
  margin-bottom: 0;

  /* primary */

  color: #e8e8e9;
}

h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  /* primary */

  color: #e8e8e9;
}

p {
  /* paragraph */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */
  margin-bottom: 0;

  /* primary */

  color: #e8e8e9;
}

.header-h {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 48px;

  width: 960px;
  height: 32px;
  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

.header-h .logo {
  width: 160px;
  height: 32px;

  position: absolute;
  left: 0;

  cursor: pointer;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  transition: opacity 1s;
}

.header-h .logo-default:hover {
  opacity: 0;
  transition: opacity 1s;
}

.header li {
  list-style: none;
}

.header .dropdown-item {
  font-size: 87.5%;
}

.marginLeft {
  margin-left: auto;
}

.large-block {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 16px;

  width: 960px;

  margin-top: 32px;

  /* gradient-base */

  background: linear-gradient(270deg, rgba(25, 27, 39, 0) 0%, #191b27 100%);
  /* shadow-right */

  filter: drop-shadow(-16px 0px 16px rgba(0, 0, 0, 0.24));
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
  z-index: 3;
}

.promo .promo-accent {
  background: linear-gradient(
    90deg,
    rgba(120, 220, 240, 0.353) 0%,
    #78dcf0 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.promo h1 {
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.promo .benefits {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 896px;
  height: 48px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.promo .benefits .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 432px;
  height: 48px;

  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  /* primary */

  color: #e8e8e9;
}

.promo .benefits .item i {
  font-weight: 200;
}

.discreet {
  opacity: 0.4;
  font-size: 87.5%;
}

.hbutton {
  background: #78dcf0;
  border-radius: 8px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  color: #10121f;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.hbutton:disabled {
  opacity: 0.4;
  cursor: default;
}

.hbutton:hover:disabled {
  background: #78dcf0;
}

.hbutton-lnk {
  background: none;

  /* accent */

  color: #78dcf0;
}

.hbutton:hover {
  background: #e8e8e9;
}

.hbutton-lnk:hover {
  color: #e8e8e9 !important;
  background: none;
}

.hbutton:active {
  opacity: 0.7;
}

.nav-tabs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 367px;
  height: 48px;
}

.nav-tabs .tab {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 16px;
  gap: 8px;

  min-width: 140px;
  height: 48px;

  cursor: pointer;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.nav-tabs .tab .super {
  height: 32px;

  /* h2-superscript */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 133% */

  /* primary */

  color: #e8e8e9;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.nav-tabs .tab:hover {
  border-color: #e8e8e9 !important;
  opacity: 0.8;
}

.nav-tabs .tab:hover h2 {
  color: #e8e8e9 !important;
}

.nav-tabs .tab:hover .super {
  color: #e8e8e9 !important;
}

.nav-tabs .active {
  border-bottom: 2px solid #78dcf0;
  color: #78dcf0 !important;
}

.nav-tabs .active h2 {
  color: #78dcf0 !important;
}

.nav-tabs .active .super {
  color: #78dcf0 !important;
}

.nav-tabs .tab.disabled h2,
.nav-tabs .tab.disabled .super {
  color: rgba(232, 232, 233, 0.2) !important;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  gap: 48px;

  width: 960px;
  height: 24px;

  border-radius: 8px;

  margin-top: 1.75rem;

  /* Inside auto layout */

  flex: none;
  order: 5;
  align-self: stretch;
  flex-grow: 0;
  z-index: 5;
}

.footer a {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  min-width: 100px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  color: #78dcf0;
}

.footer a:hover {
  color: #e8e8e9;
}

.footer a:active {
  opacity: 0.5;
}

.footer .version {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 5;
  flex-grow: 0;

  color: rgba(232, 232, 233, 0.2);
}
